<div class="content">
    <h1>CHAT LOBBY</h1>
</div>
<div *ngIf="currentUser" style="overflow: auto; height: 350px;" class="chat">
  <app-message  *ngFor="let message of messages$ | async | orderBy: 'createdAt'" [message]="message" [currentUser]="currentUser"></app-message>
</div>
<div style="padding-top: 40px" >
    <form (ngSubmit)="sendMessage()">
        <div class="field">
            <label for="" class="label">Enter message:</label>
            <p>
                <input class="input" type="text" name="model" [(ngModel)]="newMessage.text">
            </p>
        </div>
    </form>
    <pre>
      {{ newMessage | json }}
    </pre>
</div>

