<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <strong style="color: black ">FEATHERS REALTIME CHAT</strong>
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        *ngIf="isAuthenticated | async"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/chat']">
        Chat
      </a>
    </div>
    <span id="nav-toggle" class="nav-toggle" (click)="onMobileNavClick()">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu" [class.is-active]="isActive">
      <a 
        class="nav-item is-tab is-hidden-tablet"
        [routerLinkActive]="['is-active']"
        (click)="onMobileNavClick()"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/chat']">
        Chat
      </a>
      <a 
        class="nav-item is-tab is-hidden-tablet"
        *ngIf="isAuthenticated | async"
        [routerLinkActive]="['is-active']"
        (click)="onMobileNavClick()"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['users/profile']">
        Profile
      </a>
      <a 
        class="nav-item is-tab" 
        *ngIf="!(isAuthenticated | async)"
        [routerLinkActive]="['is-active']"
        (click)="onMobileNavClick()"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['users/login']">
        Login
      </a>
      <a 
        class="nav-item is-tab"
        *ngIf="!(isAuthenticated | async)"
        [routerLinkActive]="['is-active']"
        (click)="onMobileNavClick()"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['users/signup']">
        Signup
      </a>
      <a 
        class="nav-item is-tab"
        *ngIf="user | async; let user"
        [routerLinkActive]="['is-active']"
        (click)="onMobileNavClick()"
        [routerLink]="['users/profile']">
        {{ user?.username }}
      </a>
      <a 
        class="nav-item is-tab"
        *ngIf="isAuthenticated | async"
        (click)="logout()"
        [routerLink]="['users/login']">
        Logout
      </a>
    </div>
  </div>
</nav>