<div *ngIf="user | async; let user; else loading">
  <div class="content">
    <h1>Profile of {{user?.username}}</h1>
  </div>
  <hr />
  <section class="content">
    <ul>
      <li>Username:{{ user?.username }}</li>
      <li>Email: {{ user?.email }}</li>
      <li>User since {{ user?.createdAt | date }}</li>
      <li *ngIf="user.createdAt !== user.updatedAt">Last updated profile on {{ user?.updatedAt | date }}</li>
    </ul>
  </section>
  <pre>
    {{ user | json }}
  </pre>
</div>

<ng-template #loading>
  <div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
</ng-template>

